{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить тренировку</title>
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Подключаем jQuery (если не подключен) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключаем Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('select').select2({
                width: 'resolve',
                language: "ru"
            });
        });
    </script>
    <header id="navbar">
        <a href="{% url 'training_list' %}" class="btn">К списку тренировок</a>
        <a href="{% url 'logout' %}" class="btn red logout-link">Выйти</a>
    </header>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let lastScrollTop = 0;
            const navbar = document.getElementById("navbar");
        
            window.addEventListener("scroll", function () {
                let scrollTop = window.scrollY || document.documentElement.scrollTop;
        
                if (scrollTop > lastScrollTop) {
                    // Прокрутка вниз - скрываем шапку
                    navbar.style.top = "-100px";
                } else {
                    // Прокрутка вверх - показываем шапку
                    navbar.style.top = "0";
                }
        
                lastScrollTop = scrollTop;
            });
        });
        </script>
        
    <div style="margin-top: 5%" class="form-container" id="form">
        <h2 class="auth-title">Заполните данные</h2>
        <hr style="border: none; border-top: 1px solid #000;">
        <form method="POST" enctype="multipart/form-data" action="{% url 'create_training' %}">
            {% csrf_token %}
            
            {{ form.non_field_errors }}

            {% if form.errors %}
            <div class="error">
            <p>Ошибка при сохранении:</p>
            <ul>
                {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}

            
            <div class="auth-form">
                {{ form.date.label_tag }}
                <input type="datetime-local" name="{{ form.date.name }}" value="{{ form.date.value|date:'Y-m-d\TH:i' }}">
                {{ form.date.errors }}
            </div>

            <div class="auth-form">
                {{ form.duration.label_tag }}
                {{ form.duration }}
                {{ form.duration.errors }}
            </div>

            <div class="auth-form">
                {{ form.sport_type.label_tag }}
                {{ form.sport_type }}
                {{ form.sport_type.errors }}
            </div>
    
            <div class="auth-form">
                {{ form.location.label_tag }}
                {{ form.location }}
                {{ form.location.errors }}
            </div>

            <div class="auth-form">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="auth-form">
                {{ form.image.label_tag }}
                {{ form.image }}
                {{ form.image.errors }}
            </div>

            <div class="auth-form">
                {{ form.max_participants.label_tag }}
                {{ form.max_participants }}
                {{ form.max_participants.errors }}
            </div>
    
            <button type="submit" class="btn">Сохранить</button>
        </form>
    </div>
</body>
