{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список тренировок</title>
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'create_training' %}" class="btn" title="Добавить тренировку">Добавить тренировку<a></a>
        <a href="{% url 'logout' %}" class="btn logout-link">Выйти</a>
    </nav>
    <div class="training-container">
        <h1 class="training-title">Список тренировок</h1>
        <ul class="training-list">
            {% for training in trainings %}
                <li class="training-item">
                    <a href="{% url 'training_detail' training.pk %}" class="training-link">
                        <div class="training-info">
                            <div>
                                <strong>Вид спорта:</strong> {{ training.sport_type }} <br>
                                <strong>Дата и время:</strong> {{ training.date }}<br>
                                <strong>Место:</strong> {{ training.location }}<br>
                                <strong>Организатор:</strong> {{ training.organizer.username }}<br>
                            </div>
                            <img src="{% static 'css/'|add:training.sport_type|add:'.png' %}" alt="Sport Icon" class="sport-icon">
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>