{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список тренировок</title>
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('select').select2({
                width: 'resolve',
                language: "ru"
            });
        });
    </script>
    <header id="navbar">
        <div style="float: left">
            <a href="{% url 'create_training' %}" style="font-size: 13px; margin-right: 10px" class="btn" title="Добавить тренировку">Добавить тренировку<a></a>
        </div>
        <form method="get" class="filter-form">
            <div class="form-row">
                <p>Фильтр:</p>
                <p> {{ form.sport }} </p>
                <p> {{ form.organizer }} </p>
                <p> {{ form.location }} </p>  
                <p> {{ form.date }} </p>
                <p> {{ form.max_participants }} </p> 
                <p style="float: left">Сортировать по:</p>
                <p> {{ form.sort }} </p>
                <button type="submit" style="font-size: 13px; padding: 10px; max-height: 40px" class="btn">Применить</button>
            </div>
        </form>
        <div style="float: right">
            <a href="{% url 'logout' %}" style="font-size: 13px" class="btn red logout-link">Выйти</a>
        </div>
    </header>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let lastScrollTop = 0;
            const navbar = document.getElementById("navbar");
        
            window.addEventListener("scroll", function () {
                let scrollTop = window.scrollY || document.documentElement.scrollTop;
        
                if (scrollTop > lastScrollTop) {
                    // Прокрутка вниз - скрываем шапку
                    navbar.style.top = "-100%";
                } else {
                    // Прокрутка вверх - показываем шапку
                    navbar.style.top = "0";
                }
        
                lastScrollTop = scrollTop;
            });
        });
        </script>
    <div class="training-container">
        <h1 class="training-title">Список тренировок</h1>
        <ul class="training-list">
            {% for training in trainings %}
                <li class="training-item">
                    <a href="{% url 'training_detail' training.pk %}" class="training-link">
                        <div class="training-info">
                            <div>
                                <strong>Вид спорта:</strong> {{ training.sport_type }}<br>
                                <strong>Дата и время:</strong> {{ training.date }}<br>
                                <strong>Продолжительность:</strong> {{ training.duration }}мин.<br>
                                <strong>Место:</strong> {{ training.location }}<br>
                                <strong>Организатор:</strong> {{ training.organizer.username }}<br>
                                <strong>Количество участников:</strong> {{training.participants.count}}/{{ training.max_participants }}<br>
                            </div>
                            <img src="{% static 'css/'|add:training.sport_type.name|add:'.png' %}" alt="Sport Icon" class="sport-icon">
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>