/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #e3f6ff;
    background-image: url('fon.png');
    margin: 0;
    padding: 20px;
}

/* Стили для блока навигации*/
nav {
    width: 96%;
    height: 6.6%;
    top: 0;
    padding: 25px 10px 10px 10px;
    position: fixed;
    background-color: #fccf7c;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Контейнер для списка тренировок */
.training-container {
    max-width: 1000px;
    margin: 5% auto;
    padding: 20px;
    background-color: #fccf7c;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Заголовок страницы */
.training-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Список тренировок */
.training-list {
    list-style: none;
    padding: 0;
}

/* Элемент списка тренировок */
.training-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #F7F9DC;
    transition: background-color 0.3s ease;
}

/* Эффект при наведении на элемент списка */
.training-item:hover {
    background-color: #bebc97;
}

/* Стили для текста внутри элемента списка */
.training-item strong {
    color: #007bff;
}

.training-info {
    color :black;
    display: flex;
    align-items: center;
    font-size: larger;
    justify-content: space-between;
}

.sport-icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-left: 50%;
}

/* Ссылка "Выйти" */
.btn.logout-link {
    margin-left: 83%;
    color: #ff0000;
    border: 2px solid #ff0000;
}

/* Основной стиль кнопки */
.btn {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0); /* Цвет фона */
    color: #007bff;
    text-decoration: none; /*Убираем подчеркивание*/
    padding: 10px 15px; /* Внутренние отступы */
    border: 2px solid #007bff; /* Убираем границу */
    border-radius: 5px; /* Закругление углов */
    font-size: medium;
    text-align: center;
    cursor: pointer; /* Делаем курсор в виде руки */
    transition: all 0.3s ease-in-out; /* Плавный переход эффектов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень */
}

/* Эффект при наведении */
.btn:hover {
    background-color: #be8f59;
    transform: scale(1.02); /* Немного увеличиваем кнопку */
}

/* Эффект при нажатии */
.btn:active {
    transform: scale(0.98); /* Слегка уменьшаем */
}

/* Если нужно сделать кнопку "прозрачной" */
.btn.transparent {
    background-color: transparent;
    color: royalblue;
    border: 2px solid royalblue;
}

/* Делаем кнопку "неактивной" */
.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.5;
}

/* Стили формы */
.form-container {
    margin-top: 20px;
    padding: 20px 20px;
    background-color: #fccf7c;
    border-radius: 8px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input_training_data {
    padding: 10px;
    margin: 10px 0px;
}

/* Общие стили для страниц регистрации и входа */
.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fccf7c;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Заголовок страницы */
.auth-title {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    margin-top: -5px;
}

/* Форма */
.auth-form {
    display: flex;
    flex-direction: column;
}

/* Поля формы */
.auth-form input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Ссылка "Войти" или "Зарегистрироваться" */
.auth-link {
    text-align: center;
    margin-top: 15px;
}

.auth-link a {
    color: #007bff;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}

/* Сообщения об ошибках */
.error-message {
    color: #dc3545;
    margin-bottom: 15px;
    text-align: center;
}

/* Стили для детальной страницы */
.training-detail {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 20px;
    text-align: center;
    background-color: #fccf7c;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.training-link {
    text-decoration: none;
}
